<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Input Binding</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div id="app">
      <input v-model="firstName" />
      <input v-model="lastName" />
      {{ computeFullName }}
    </div>

    <script src="https://unpkg.com/vue@3.5.41/dist/vue.global.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
