<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Filter/Sort Table</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div id="app">
      <input
        v-model="searchDetails"
        class="form-control"
        placeholder="filter by name or age"
      />

      <table class="table table-striped">
        <thead>
          <tr>
            <th><a href="#" @click.prevent="sortBy('name')">Name</a></th>
            <th><a href="#" @click.prevent="sortBy('age')">Age</a></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="person in filterIt" :key="person.name">
            <td>{{ person.name }}</td>
            <td>{{ person.age }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <script src="https://unpkg.com/vue@3.5.41/dist/vue.global.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
